<!DOCTYPE html>
<html>
<head>
	<title>Bai 04 Serving HTML Pages</title>
	<style type="text/css">
		label, input {
			display: block;
		}
	</style>
</head>
<body>
	<form id="contact-form" method="POST" action="/contact">
		<label for="name">
			Your Email:
			<input type="email" name="email" />
    </label>
		
		<label for="email">
			Your Password
			<input type="password" name="password" />
		</label>

		<input type="submit" value="Submit" />
	</form>

</body>
</html>