<!DOCTYPE html>
<html>
<head>
	<title>Bai 04 Serving HTML Pages</title>
	<link rel="stylesheet" type="text/css" href="assets/styles.css" />
	<style type="text/css">
		label, input {
			display: block;
		}
	</style>
</head>
<body>
	<h1>Welcome to the Contact Page</h1>
</body>
</html>