<!DOCTYPE html>
<html>
<head>
	<title>Bai 04 Serving HTML Pages</title>
	<link rel="stylesheet" type="text/css" href="assets/styles.css" />
	<style type="text/css">
		label, input {
			display: block;
		}
	</style>
</head>
<body>
	<h1>Welcome to the Contact Page</h1>
	<p>Hi <%= user.name %></p>
	<p>your Contact <%= user.department %></p>
	<p>your Email <%= user.email %></p>
</body>
</html>