<!DOCTYPE html>
<html>
<head>
	<title>Bai 04 Serving HTML Pages</title>
	<link rel="stylesheet" type="text/css" href="assets/styles.css" />
</head>
<body>
	<h1>Welcome to the most awesome website on the net</h1>
	<p>You won't flint a website better anywhere else!</p>
</body>
</html>